body {
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}
.judul {
    position: relative;
    display: block;
}
.judul::after {
    content: "";
    display: block;
    width: 8%;
    border-bottom: 1px solid white;
    position: absolute;
    left: 110px;
    bottom: -0.5em;
}


/* Project File Section */
.project-file{
    text-align: center;
    position: relative;
    color: white;
}
.project-file::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color:#124187 ;
    opacity: 80%;
    position: absolute;
    bottom: 0;
    left:0;
}
.project-file h6{
    margin-top: 100px;
    position: relative;
    z-index: 1;
}
.number{
    align-self: center;
    font-size: 30pt;
    position: relative;
    z-index: 1;
}
.number::after{
    content: '';
    display: block;
    border-bottom: 3px solid white;
    width: 20px;
    margin:auto;
}
.title-projectfile{
    margin-bottom: 100px;
    position: relative;
    z-index: 1;
}
/* .garis{
    border-bottom: 3px solid white;
    width: 50px;
    margin-left: 100px;
} */

.project1{
    background-image: url(img/img_project1.jpg);
    background-size: cover;
}
.project2{
    background-image: url(img/img_project2.jpg);
    background-size: cover;
}
.project3{
    background-image: url(img/img_project3.jpg);
    background-size: cover;
}
.project4{
    background-image: url(img/img_project4.jpg);
    background-size: cover;
}
.project5{
    background-image: url(img/img_project5.jpg);
    background-size: cover;
}

/*--------------------------------------------------------------*/

/* Project Story Section*/
.project-story{
    background-color:#e4e5e4;
    text-align: center;
    margin-top: 100px;
}
.project-story h1{
    margin-top: -30px;
    color: #124187;
    font-family: 'Crimson Text', serif;
    text-align: left;
}
/* .projek-story::after{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: url(img/img_projek5.jpg);
    position: absolute;
    bottom: 0;
    left:0;
} */
.project-story img{
    margin-top: -100px;
    margin-left: -150px;
    margin-bottom: 70px;
    width: 90%;
}
    /* small panel for project story section */
.small-panel{
    background-color:#1d2b4e;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -100px;
    margin-left: 500px;
}
.small-panel p{
    color: white;
    padding: none;
    text-align: left;
    margin-top: 15px;
}
.small-panel p span{
    margin-right: 30px;
}
.small-panel img{
    margin-top: -30px;
    float: right;    
    width: 30px;
}
/* small panel 2 */
.small-panel2{
    background-color:#1d2b4e;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -40px;
    margin-left: 500px;
}
.small-panel2 p{
    color: white;
    padding: none;
    text-align: left;
    margin-top: 15px;
}
.small-panel2 p span{
    margin-right: 30px;
}
.small-panel2 img{
    margin-top: -30px;
    float: right;    
    width: 30px;
}

/*--------------------------------------------------------------*/

/* Work Style Section */
.work-style{
    background-color:#e4e5e4;
    text-align: center;
    margin-top: 100px;
}
.work-style h1{
    margin-top: -30px;
    color: #124187;
    text-align: left;
    font-family: 'Crimson Text', serif;
}
.work-style img{
    margin-top: -100px;
    margin-right: -150px;
    margin-bottom: 70px;
    width: 90%;
}
    /* small-panel3 for work style section */
.small-panel3{
    background-color:#1d2b4e;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -100px;
    margin-right: 500px;
}
.small-panel3 p{
    color: white;
    padding: none;
    text-align: left;
    margin-top: 15px;
}
.small-panel3 p span{
    margin-right: 30px;
}
.small-panel3 img{
    margin-top: -30px;
    float: right;    
    width: 30px;
}

/*--------------------------------------------------------------*/

/* Interview Section */
.interview{
    background-color:#e4e5e4;
    margin-top: 100px;
}
.interview h1{
    margin-top: -40px;
    color: #124187;
    text-align: left;
    font-size: 40pt;
    font-family: 'Crimson Text', serif;
}
.interview h6{
    margin-top: 30px;
    color: #a3a3a3;
    text-align: left;
}
.interview a::after{
    content: '';
    display: block;
    border-bottom: 3px solid;
    width: 20px;
    margin-top: 5px;
}
.interview img{
    margin-top: -70px;
    margin-left: 70px;
    width: 350px;
}
.interview h5{
    margin-top: 20px;
    color: #124187;
}
/* button-interview */
.button-interview1{
    margin-right: 90px;
    background-color:white;
}
.button-interview1 img{
    padding-top: 35px;
    float: right;
    width: 50px;
}
.button-interview2{
    margin-left: 90px;
    background-color:white;
}
.button-interview2 img{
    padding-top: 35px;
    float: right;
    width: 50px;
}

/*--------------------------------------------------------------*/

/* Special Content Section */
.special-content{
    background-image: url(img/img_pic12.jpg);
    margin-top: 100px;
}
.special-content h5{
    margin-top: 20px;
    color: #124187;
}

/* img-content */
.img-content1{
    margin-top: 50px;
    margin-right: 90px;
    background-image: url(img/img_pic5.jpg);
    background-size: 350px;
    padding-bottom: 130px;
}
.img-content2{
    margin-top: 50px;
    margin-left: 90px;
    background-image: url(img/img_pic6.jpg);
    background-size: 350px;
    padding-bottom: 130px;
}
.img-content3{
    margin-right: 90px;
    background-image: url(img/img_pic7.jpg);
    background-size: 350px;
    padding-bottom: 130px;
}
.img-content4{
    margin-left: 90px;
    background-image: url(img/img_pic8.jpg);
    background-size: 350px;
    padding-bottom: 130px;
}

/* bar-content */
.bar-content1{
    margin-right: 90px;
    background-color:white;
    margin-bottom: 10px;
}
.bar-content1 img{
    margin-top: -35px;
    float: right;
    width: 50px;
}
.bar-content2{
    margin-left: 90px;
    background-color:white;
    margin-bottom: 10px;
}
.bar-content2 img{
    margin-top: -35px;
    float: right;
    width: 50px;
}
.bar-content3{
    margin-right: 90px;
    background-color:white;
    margin-bottom: 50px;
}
.bar-content3 img{
    margin-top: -35px;
    float: right;
    width: 50px;
}
.bar-content4{
    margin-left: 90px;
    background-color:white;
    margin-bottom: 50px;
}
.bar-content4 img{
    margin-top: -35px;
    float: right;
    width: 50px;
}

/*--------------------------------------------------------------*/

/* Blog Section */
.blog{
    text-align: center;
}

.blog h1{
    margin-top: 50px;
    color: #124187;
    font-family: 'Crimson Text', serif;
}
.blog p{
    margin-top: 10px;
    margin-bottom: 30px;
    color: #a3a3a3;
}

.card-content{
    margin-top: 20px;
    text-align: left;
}
.card-content h6{
    color:#124187 ;
    float: left;
}
.card p{
    margin-top: -5px;
    text-align: left;
    color: black;
}
.card span{
    margin-left: 10px;
    color: #a3a3a3;
}
.btn-card{
    margin-top: 10px;
}
.no-border{
    border: none;
}

/*--------------------------------------------------------------*/

/* Recruit Section */
.recruit{
    text-align: center;
    z-index: 1;
}
.recruit h1{
    margin-top: 50px;
    color: #124187;
    font-family: 'Crimson Text', serif;
}
.recruit p{
    margin-top: 10px;
    margin-bottom: 30px;
    color: #a3a3a3;
}

/* button entry */
.entry{
    background-image: url(img/img_pic12.jpg);
    margin-top: -100px;
    text-align: center;
}
.btn-entry{
    margin-top: 150px;
    margin-bottom: 100px;
    width: 200px;
    background-color: #002554;
    color: #ffffff;
    border-color: #002554;
    font-weight: bold;
    letter-spacing: 0.0;
}
.btn-entry:hover,
.btn-entry:active,
.btn-entry:focus,
.btn-entry.active {
    /* let's darken #004E64 a bit for hover effect */
    background: #002554;
    color: white;
    border-color: #002554;
}
.btn-entry.focus{
    font-size: 13px;
    color:white;
}
.btn-entry.hover{
    font-size: 13px;
    color:white;
}
  
/*--------------------------------------------------------------*/

/* Footer Section */
.footer{
    background-color: #1d2b4e;
    color: white;
}
.footer p{
    margin-top: 10px;
    text-align: left;
}
